a {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

a, h1, h2 {
	text-transform: uppercase;
}

body {
	font-family: "Raleway", sans-serif;
	text-align: center;
	letter-spacing: 1px;
	margin: 0;
}

button {
	background-color: #00A6B3;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	margin: 10px auto;
}

button:hover {
	background-color: #0D2C40;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	width: 110px;
	margin: 5px auto;
}

footer {
	background: #0D2C40;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
	padding: 0 20px;
}

footer a {
	display: inline-block;
	padding-top: 20px;
}

footer p {
	font-family: "Raleway", sans-serif;
	margin: 10px auto;
	text-align: center;
}

h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	color: #0D2C40;
	font-weight: 600;
	font-size: 20px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
img {
	margin: 40px 8px 40px 8px;
}

p {
	font-family: "Droid Serif", serif;
	text-align: justify;
}

main {
	max-width: 850px;
	margin: 35px auto;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

#score {
	font-family: "Droid Serif", serif;
	font-size: 32px;
	color: #0D2C40;
	margin-bottom: 20px;
}